<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/programming/apiJFrame"><classes><class name="com.domoyun.testCase.CancelLabel"><methods><include name="CancelLabel"/></methods></class><class name="com.domoyun.testCase.PrintLabel"><methods><include name="getCountry"/></methods></class></classes></test></suite>